{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>analyse players!</title>
    <link rel="stylesheet" href="{% static 'css/player.css' %}">
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/purple-passion.js"></script>
</head>
<body>
    <ul id="nav">
        <li class="slide1"></li>
        <li class="slide2"></li>
        <li><a href="#Introduce">Introduce</a></li>
        <li><a href="#Charts">Charts</a></li>
        <li><a href="#Data">Data</a></li>
        <li><a href="{% url 'contrast_select' player.playerid %}">Contrast</a> </li>
    </ul>    
    <div class="content-wrapper">
        <div id="Introduce" class="Introduce-wrapper">
            <div class="row_title">球员信息</div>
            <div class="player-profile">
                <div class="profile_img" style="border-radius: 50%;">
                    <img src='{{ player.icon_filename }}' alt="player.icon_filename" style="width:120px; height:120px;">
                </div>
                <div class="profile_details">
                    <div class="detail-grid">
                        <div class="itemin">名字:</div>
                        <div class="itemin_score">{{ player.name }}</div>
                        <div class="itemin">中文名:</div>
                        <div class="itemin_score">{{ player.chinaname }}</div>
                        <div class="itemin">国籍:</div>
                        <div class="itemin_score">{{ player.nation }}</div>
                        <div class="itemin">年龄:</div>
                        <div class="itemin_score">{{ player.age }}</div>
                        <div class="itemin">位置:</div>
                        <div class="itemin_score">{{ player.position }}</div>
                        <div class="itemin">球队:</div>
                        <div class="itemin_score">{{ player.teamname }}</div>
                        <div class="itemin">身高(cm):</div>
                        <div class="itemin_score">{{ player.height }}</div>
                        <div class="itemin">体重(kg):</div>
                        <div class="itemin_score">{{ player.weight }}</div>
                        <div class="itemin">身价(百万欧):</div>
                        <div class="itemin_score">{{ player.prize }}</div>
                    </div>
                </div>    
            </div>
        </div>
        <div id="Charts" class="chart-container">
            <div id="struct" class="chart-wrapper" style="height: 400px; width: 1500px;"></div>  
            <script type="text/javascript">
                var myChart = echarts.init(document.getElementById('struct'));
                var option = {
                      title: {
                          text: '总数据可视化',
                          left: 50,
                          top: 5
                      },
                      xAxis: {
                        type: 'category',
                        data: ['首发率', '进球率', '过人率', '射正率', '传球成功率', '传中成功率', '长传成功率', '拼抢成功率', '守门员出击成功率']
                      },
                      yAxis: {
                        type: 'value',
                          min: 0,   // Y 轴起始值
                          max: 1, // Y 轴最大值，需要根据数据的实际情况进行设置
                          interval: 0.2, // Y 轴刻度间隔值
                      },
                      series: [
                        {
                          data: [
                              {{ behavior.first }}/{{ behavior.matchsum }}, 
                              {{ behavior.goal }}/{{ behavior.shooting }}, 
                              {{ behavior.valid_passing }}/{{ behavior.passing }},
                              {{ behavior.target }}/{{ behavior.shooting }},
                              {{ behavior.valid_passball }}/{{ behavior.passball }},
                              {{ behavior.valid_midpass }}/{{ behavior.midpass }},
                              {{ behavior.valid_longpass }}/{{ behavior.longpass }},
                              {{ behavior.valid_onebyone }}/{{ behavior.onebyone }},
                              {{ behavior.valid_atk }}/{{ behavior.keeper_atk }}
                          ],
                          type: 'bar'
                        }
                      ]
                    };
                myChart.setOption(option);
            </script>
        </div>    
        <div class="chart-container">
            <div  id="winorlose" class="chart-wrapper" style="height: 400px; width: 1500px;"></div>  
            <script type="text/javascript">
                var myChart = echarts.init(document.getElementById('winorlose'));
                var option = {
                        title: {
                            text: '各数据正负可视化',
                            left: 50,
                            top: 5
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                              type: 'shadow'
                            }
                        },
                        legend: {
                            data: ['成功/首发', '失败/未出场', '尝试/上场场次'],
                            top: 20,
                            right: 150,
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                              type: 'value'
                            }
                        ],
                        yAxis: [
                            {
                              type: 'category',
                              axisTick: {
                                show: false
                              },
                              data: ['守门员出击', '拦截', '1对1拼抢', '长传', '传中', '过人', '射正', '射门', '比赛场次']
                            }
                        ],
                        series: [
                            {
                              name: '成功/首发',
                              type: 'bar',
                              label: {
                                show: true,
                                position: 'inside'
                              },
                              emphasis: {
                                focus: 'series'
                              },
                              data: [{{behavior.valid_atk}}, 
                                  {{ behavior.intercept }}, 
                                  {{behavior.valid_onebyone}}, 
                                  {{behavior.valid_longpass}}, 
                                  {{behavior.valid_midpass}}, 
                                  {{behavior.valid_passing}},
                                  {{ behavior.target }},
                                  {{ behavior.goal }}, 
                                  {{ behavior.first }}]
                            },
                            {
                              name: '尝试/上场场次',
                              type: 'bar',
                              stack: 'Total',
                              label: {
                                show: true
                              },
                              emphasis: {
                                focus: 'series'
                              },
                              data: [{{behavior.keeper_atk}}, 
                                  {{ behavior.preemption }}, 
                                  {{behavior.onebyone}},
                                  {{ behavior.longpass }}, 
                                  {{ behavior.midpass }}, 
                                  {{ behavior.passing }},
                                  {{ behavior.shooting }},
                                  {{ behavior.shooting }}, 
                                  {{ behavior.matchsum }}]
                            },
                            {
                              name: '失败/未出场',
                              type: 'bar',
                              stack: 'Total',
                              label: {
                                show: true,
                                position: 'left'
                              },
                              emphasis: {
                                focus: 'series'
                              },
                              data: [-({{ behavior.keeper_atk }}-{{ behavior.valid_atk }}), 
                                  -({{ behavior.preemption }}-{{ behavior.intercept }}),
                                  -({{ behavior.onebyone }}-{{ behavior.valid_onebyone }}),
                                  -({{ behavior.longpass }}-{{ behavior.valid_longpass }}),
                                  -({{ behavior.midpass }}-{{ behavior.valid_midpass }}),
                                  -({{ behavior.passing }}-{{ behavior.valid_passing }}),
                                  -({{ behavior.shooting }}-{{ behavior.target }}),
                                  -({{ behavior.shooting }}-{{ behavior.goal }}),
                                  -({{ behavior.matchsum }}-{{ behavior.first }})
                              ]
                            }
                          ]
                        };
                myChart.setOption(option);
            </script>
        </div>
        <div class="chart-container">
            <div  id="radar" class="chart-wrapper" style="height: 400px; width: 1500px;"></div>  
            <script type="text/javascript">
                var myChart = echarts.init(document.getElementById('radar'));
                var option = {
                      title: {
                        text: '综合数据对比',
                        top: 5,  
                        left: 50  
                      },
                      legend: {
                        data: ['球员综合数据', '联赛平均综合数据'],
                        top: 20,
                        right: 150  
                      },
                      radar: {
                        indicator: [
                          { name: '身体素质', max: 100 },
                          { name: '射门能力', max: 100 },
                          { name: '盘带能力', max: 100 },
                          { name: '传球能力', max: 100 },
                          { name: '防守能力', max: 100 },
                          { name: '组织纪律', max: 100 }
                        ]
                      },
                      series: [
                        {
                          name: 'Budget vs spending',
                          type: 'radar',
                          data: [
                            {
                              value: [{{ score.physics }}, {{ score.shoot }}, {{ score.dribble }}, {{ score.passball }}, {{ score.defensive }}, {{ score.discipline }}],
                              name: '球员综合数据'
                            },
                            {
                              value: [30, 12, 27, 17, 25, 51],
                              name: '联赛平均综合数据'
                            }
                          ]
                        }
                      ]
                    };
                myChart.setOption(option);
            </script>
        </div>
          
        <div id="Data" class="data_wrapper">
            <div class="zone_one">
                <div class="row">
                    <div class="row_title">基本数据</div>
                    <div class="c_row" style="flex-wrap: wrap; justify-content: start;">
                        <div class="c_span">
                            <p class="item">比赛场次</p>
                            <p class="item_score">{{ behavior.sum }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">上场场次</p>
                            <p class="item_score">{{ behavior.matchsum }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">首发</p>
                            <p class="item_score">{{ behavior.first }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">总比赛时间</p>
                            <p class="item_score">{{ behavior.matchtime }}</p>
                        </div>
                    </div>
                </div>
                <p class="c_gap_line" style="height: 0.09rem; background-color: rgb(245, 246, 249);"></p>
            </div>    
            <div class="zone_two">
                <div class="row">
                    <div class="row_title">进攻数据</div>
                    <div class="c_row" style="flex-wrap: wrap; justify-content: start;">
                        <div class="c_span">
                            <p class="item">进球数</p>
                            <p class="item_score">{{ behavior.goal }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">点球</p>
                            <p class="item_score">{{ behavior.penalty }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">射门</p>
                            <p class="item_score">{{ behavior.shooting }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">射正</p>
                            <p class="item_score">{{ behavior.target }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">过人</p>
                            <p class="item_score">{{ behavior.passing }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">过人成功</p>
                            <p class="item_score">{{ behavior.valid_passing }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">任意球</p>
                            <p class="item_score">{{ behavior.free }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">任意取得分</p>
                            <p class="item_score">{{ behavior.free_goal }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">击中门框</p>
                            <p class="item_score">{{ behavior.hitdoor }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">快攻</p>
                            <p class="item_score">{{ behavior.quick }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">快攻射门</p>
                            <p class="item_score">{{ behavior.quick_atk }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">快攻进球</p>
                            <p class="item_score">{{ behavior.quick_goal }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">丢失球权</p>
                            <p class="item_score">{{ behavior.lost_right }}</p>
                        </div>
                    </div>
                </div>
                <p class="c_gap_line" style="height: 0.09rem; background-color: rgb(245, 246, 249);"></p>
            </div>
            <div class="zone_three">
                <div class="row">
                    <div class="row_title">组织数据</div>
                    <div class="c_row">
                        <div class="c_span">
                            <p class="item">传球</p>
                            <p class="item_score">{{ behavior.passball }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">传球成功</p>
                            <p class="item_score">{{ behavior.valid_passball }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">关键传球</p>
                            <p class="item_score">{{ behavior.key_passball }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">传中球</p>
                            <p class="item_score">{{ behavior.midpass }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">传中球成功</p>
                            <p class="item_score">{{ behavior.valid_midpass }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">长传</p>
                            <p class="item_score">{{ behavior.longpass }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">成功长传</p>
                            <p class="item_score">{{ behavior.valid_longpass }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">传球被断</p>
                            <p class="item_score">{{ behavior.lost_pass }}</p>
                        </div>
                    </div>
                </div>
                <p class="c_gap_line" style="height: 0.09rem; background-color: rgb(245, 246, 249);"></p>
            </div>
            <div class="zone_four">
                <div class="row">
                    <div class="row_title">防守数据</div>
                    <div class="c_row">
                        <div class="c_span">
                            <p class="item">解围</p>
                            <p class="item_score">{{ behavior.breaking }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">有效阻挡</p>
                            <p class="item_score">{{ behavior.valid_prevent }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">拦截</p>
                            <p class="item_score">{{ behavior.intercept }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">抢断</p>
                            <p class="item_score">{{ behavior.preemption }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">1对1拼抢</p>
                            <p class="item_score">{{ behavior.onebyone }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">1对1拼抢成功</p>
                            <p class="item_score">{{ behavior.valid_onebyone }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">拳击球</p>
                            <p class="item_score">{{ behavior.handball }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">守门员出击</p>
                            <p class="item_score">{{ behavior.keeper_atk }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">守门员出击成功</p>
                            <p class="item_score">{{ behavior.valid_atk }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">高空出击</p>
                            <p class="item_score">{{ behavior.high_atk }}</p>
                        </div>
                    </div>
                </div>
                <p class="c_gap_line" style="height: 0.09rem; background-color: rgb(245, 246, 249);"></p>
            </div>
            <div class="zone_five">
                <div class="row">
                    <div class="row_title">纪律数据</div>
                    <div class="c_row">
                        <div class="c_span">
                            <p class="item">红牌</p>
                            <p class="item_score">{{ behavior.redcard }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">黄牌</p>
                            <p class="item_score">{{ behavior.yellowcard }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">犯规</p>
                            <p class="item_score">{{ behavior.foul }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">被侵犯</p>
                            <p class="item_score">{{ behavior.violated }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">越位</p>
                            <p class="item_score">{{ behavior.offside }}</p>
                        </div>
                        <div class="c_span">
                            <p class="item">两黄变红</p>
                            <p class="item_score">{{ behavior.turnred }}</p>
                        </div>
                    </div>
                </div>
                <p class="c_gap_line" style="height: 0.09rem; background-color: rgb(245, 246, 249);"></p>
            </div>
        </div>
    </div>    
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
        $("#nav a").on("click", function () {
            var position = $(this).parent().position();
            var width = $(this).parent().width();
            $("#nav .slide1").css({ opacity: 1, left: +position.left, width: width});
        });
        $("#nav a").on("mouseover", function () {
            var position = $(this).parent().position();
            var width = $(this).parent().width();
            $("#nav .slide2").css({ opacity: 1, left: +position.left, width:width}).addClass("squeeze");
        });
        $("#nav a").on("mouseout", function () {
            $("#nav .slide2").css({ opacity: 0}).removeClass("squeeze");
        });
        var currentWidth = $("#nav li:nth-of-type(3) a").parent("li").width();
        var current = $("li:nth-of-type(3) a").position();
        $("nav .slide1").css({ left: +current.left, width:currentWidth });
    </script>
</html>