{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="searchview" content="width=device-width, initial-scale=1.0">
    <title>Search result!</title>
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
</head>
<body>
    <div class="team-wrapper">
        <h2>球队搜索结果</h2>
        <div class="teams-grid">
            {% for team in teams %}
            <div class="team-card">
                <img src="{{ team.icon_filename }}" alt="Team Icon" style="width:50px; height:50px;">
                <div class="team-info">
                    <a href="{% url 'team_detail' team.teamid %}">{{ team.name }}</a>
                    <p>积分：{{ team.points }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="player-wrapper">
        <h2>球员搜索结果</h2>
        <div class="players-grid">
            {% for player in players %}
            <div class="player-card">
                <img src="{{ player.icon_filename }}" alt="Player Icon" style="width:50px; height:50px;">
                <a href="{% url 'player_detail' player.playerid %}">{{ player.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>